.SocialLink {
    margin: 10px;

    font-size: em(16px);
    color: $primary-color;
    text-decoration: none;
}

.SocialLink,
.SocialLink-Icon {
    display: inline-block;

    vertical-align: middle;
}

.SocialLink-Icon {
    margin-right: 10px;
}
